* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  body {
    background-color: #F7F6EE;
    font-family: 'Lora', serif;
    color: #232323;
  }
  
  header {
    background-color: #F7F6EE;
    padding: 20px 40px;
  }
  
  .navbar-container {
    max-width: 1200px; 
    margin: 0 auto; 
    font-size: 0; 
  }
  
  .logo,
  nav {
    display: inline-block;
    vertical-align: middle;
    font-size: 20px;
  }
  
  .logo {
    text-align: left;
    width: 30%; 
  }
  
  nav {
    text-align: right;
    width: 70%; /
  }
  
  nav a {
    margin-left: 20px;
    text-decoration: none;
    color: #111;
  }
  
  main {
    text-align: center;
    padding: 80px 20px;
    max-width: 700px;
    margin: auto;
  }
  
  main h1 {
    font-family: 'Libre Baskerville', serif;
    font-size: 54px;
    margin-bottom: 20px;
  }
  
  main p {
    font-size: 20px;
    line-height: 1.6;
    margin-bottom: 40px;
    font-family: 'Lora', serif;
  }
  
  .btn {
    padding: 12px 24px;
    background-color: #232323;
    color: #ffffff;
    text-decoration: none;
    border-radius: 999px;
    font-family: 'Montserrat', sans-serif;
  }

  

